@font-face { font-family: Akzidenz-Grotesk BQ; src: url('../font/AkzidenzGrotesk-Bold.otf'); } 




body {
      padding: 0;
      margin: 0;
      min-height: 100vh;
      min-width: 100vw;
      position:fixed;
  }

  /* Background */
.image{
position: fixed;
z-index: 99;
} 

/* AR FRAME */
.camera{
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
.arjs-loader {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index:-99;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color:black;
  }

  .ar-container{
    z-index: -99;
    height: 100vh;
    width: 100vw;
  }



    /* Title */
    .titlea{
      position: fixed;
      margin-top:0;
      padding: 0;
    left: 0px;
    z-index: 9999;
    font-family: 'Akzidenz-Grotesk BQ';
    font-style: normal;
    font-weight: 700;
    line-height:6.5vw;
    font-size: 6.5vw;
    color: #000000;
    background-color: white;
    }
    
    .titlea a{
      color:black;
      margin:0;
      padding: 0;
    }
    .titlea a:hover{
      color:black;
    }

  /* Navigation */

  .navbox{
    position: fixed;
    right: 0;
    bottom:0;
    color:#F7CB45;
        }
    
        .navbox ul{
            z-index: 999;
        }
        .navbox li{
            list-style-type: none; 
            color:#000000;
            text-decoration: none;
            height: min-content;
            font-size: 7vw;
        }
       .navbox li:hover{
            color:#FAFC00;
        }
  
        .navtitle{
          z-index: 1000;
          font-family: 'Akzidenz-Grotesk BQ';
          font-style: normal;
          font-weight: 700;
          font-size: 100px;
          line-height: 100px;
          color: #000000;
          margin:0;

        }
        .navtitle span{
            float:right; 
        }

        
        .navtitle span:hover{ 
            float:right; 
            color:#FAFC00;
        }
    
        .yellowrec{
          position: fixed;
        width: 176px;
        height: 23px;
        left: 0px;
        top: 79px;
        
        background: #E87400;
        }
        
            
              .marquee{
                text-transform: uppercase;
                animation: animate 100s linear infinite;
                user-select:none;
            
              }
            
            
              @keyframes animate{
              100%{
                transform: translate(-100%,0);
              }
            }
              
        
  
.navtitle a{color:black;}

.navtitl a:hover{ 
    color:black;
}

        
    
    /* Footer */
    
footer{
      z-index: 999;
        position: fixed;
        font-family: 'Heiti SC';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
    left: 5px;
    bottom: 0;
    }

    footer a{
      color:black;
    }


    /* Load */

    .load{
      font-family: 'Heiti SC';
      font-size: 20px;
    }
    
    /* ^^^^^^^^^^^^^^^^^^^^^^^^^ */

/* Phone Sizes */


    @media only screen and (max-width: 600px) {
  
      .abgt{
        opacity: 0;
      }
    
      .enter{
        font-size: 7vh;
        bottom: 30vh;
      }
      .titlea{
        font-size: 3.5vh;
      }
    .yellowrec{
      position: fixed;
      width: 51px;
      height: 23px;
      left: 0px;
      top: 28px;
      z-index: 9999;
    }
    .navtitle span{
      font-size: 5vh;
    }
    .navtitle{
      line-height: 5vh;
    
    }
    footer{
      font-size: 6px;
    }
    
    .linethrough{
      color: #E87400;
  }
    }
