.video-intro{
    display: none;
    top:0;
    position:fixed;
    z-index: 999;
    left: 0;
    top:0;
    /* padding-top: 200px; */
    /* padding-bottom: 300px; */
    width:100%;
    height:100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.4);

}

.subtitlea{
    position: fixed;

    padding: 0;
  left: 2px;
  bottom: 3vh;
  z-index: 9999;
  font-family: 'Heiti SC';
  font-style: normal;
  font-weight: 300;
  line-height:1vw;
  font-size: 1vw;
  color: white;
}

/* .vide{
    display:none;
} */

.video-intro-box{
    /* position: fixed; */
    margin:0;
    padding: 0;
   height: 100vh;
   max-width: 100vw;
 
}

.skip{
    position:fixed;
    color:white;
    font-size: 28px;
    font-weight: bold;
    bottom: 5px;
    left: 5px;

}

.skip:focus :hover{
    cursor:pointer;
}

.instruction{
    display: none;
    position:fixed;
    color:black;
    font-size: 25px;
    font-weight: bold;
    bottom: 8px;
    left: 5px;

}

.instruction:focus :hover{
    cursor:pointer;
}
/* this is a video test frame */
.video-test{
   z-index: 1;
   position:fixed;
   top:100px;

    
}

.video-box{
    width: 50%;
    /* height: 50%; */
    /* mix-blend-mode:screen; */
    /* background-blend-mode: screen; */

}
/* body{background-color: aquamarine;} */


.modal{
    display: inline;
    position:fixed;
    z-index: 999;
    left: 0;
    top:0;
    padding-top: 200px;
    padding-bottom: 300px;
    width:100%;
    height:100%;
    overflow: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
   
}

.modal-content{
    position: relative;
    background-color: white;
    margin:auto;
    padding: 200px auto;
    width: 400px;
    -webkit-animation-name:animatetop ;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s;
    border: black;
 
    border-style: solid;
    border-width: 3px;
}

@-webkit-keyframes animatetop{
    from{top:-20px;opacity: 0;}
    to {top:0;opacity: 1;}
}

@keyframes animatetop{
    from{top:-20px;opacity: 0;}
    to {top:0;opacity: 1;}
}

.close{
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
color:black;
text-decoration: none;
cursor:pointer;
}

.modal-header{
    display: block;
    line-height: 30px;
    padding: 2px 10px;
    background-color: white;
    text-align:left;
    font-family: 'Akzidenz-Grotesk BQ';
}

.modal-body{
    font-family: 'Heiti SC';
    padding: 2px 16px;
    font-size: 15px;
    height: 200px;
}

.modal-footer{
    display: block;
    line-height: 30px;
    padding: 4px 10px;
    background-color: white;
    color:black;
}
.modal-footer button{
    /* color:white; */
    /* background-color: black; */


}

.submitBtn {
    width: 8vw;
    height: 4vh;
    font-size: 12px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: 0.5s;
    font-family: 'Akzidenz-Grotesk BQ';
    margin:5px;
  }

  .submitBtn:hover {
    background-color:red;
    border: black;
    border-width: 5px;
    color: white;
    outline: black;
  
  }
  .introBtn{
    width: 8vw;
    height: 4vh;
    font-size: 12px;
    border-radius: 20px;
    border-color: black;
    background-color:white;
    color:black;
    transition: 0.5s;
    font-family: 'Akzidenz-Grotesk BQ';
  }



    @media only screen and (max-width: 600px) {
        .modal-content{
            position: relative;
            background-color: white;
            margin:auto;
            padding: 100px auto;
            width: 300px;
            -webkit-animation-name:animatetop ;
            -webkit-animation-duration: 1s;
            animation-name: animatetop;
            animation-duration: 1s;
            border: black;
         
            border-style: solid;
            border-width: 3px;
        }
        .modal-body{
            font-family: Heiti SC;
            padding: 2px 16px;
            font-size: 13px;
            height: 200px;
        }
        
        .submitBtn {
            width: 25vw;
            height:6vh;
            font-size: 12px;
            border-radius: 20px;
            background-color: black;
            color: white;
            transition: 0.5s;
            font-family: 'Akzidenz-Grotesk BQ';
          }

          .introBtn{
            width: 25vw;
            height:6vh;
            font-size: 12px;
            border-radius: 20px;
            border-width: 2px;
            border-color: black;
            background-color:white;
            color:black;
            transition: 0.5s;
            font-family: 'Akzidenz-Grotesk BQ';
          }

          .subtitlea{font-size: 2vh;
        width: 60vw;
        line-height:2vh;
    }
    }